*{
    padding: 0;
    margin: 0;
    font-family: "QuickSand";
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

@font-face {
    font-family:"QuickSand";
    src: url(../font/Quicksand_Book.otf) format('truetype');
}

.logoImage{
    width: 80px;
    height: 80px;
}

.headerContainer{
    background-color: #334d65;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.linkWarper{
    display: flex;
    gap: 20px;
}

.linkHeader{
    margin-top: 30px;
    text-decoration: none;
    color: white;
}

.linkHeader:hover{
    cursor: pointer;
    color: #2d2d2d;
}

.welcomeImage{
    width: 100%;
    height: 400px;
}

.containerMid{
    background-color: #a4c2e2;
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 20px;
    justify-content: center;
    overflow: hidden;
}

.containerMid hr{
    max-width: 50%;
    border: 2px solid white;
}

.hrRight{
    margin-left: auto;
}

.containerMid h3, .containerMid p, .containerMid h4,.containerMid h5,.containerMid a{
    padding-top: 10px;
    color: #334d65;
    text-align: justify;
    text-decoration: none;
}

.containerMid a:hover{
    color: #2d2d2d;
}

.containerMid li{
    color: #334d65;
    padding-top: 10px;
    font-size: 20px;
}
 .containerMid form{
    background-color: transparent;
    border: none;
 }
